<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="../../public/css/auth/logout.css">
    <title>Logout</title>
</head>
<body>
    <div class="logout-container">
        <h1>Çıkış Yaptınız!</h1>
        <p>Yeniden görüşmek üzere! Hesabınızdan güvenli bir şekilde çıkış yaptınız.</p>
        <a class="btn btn-primary" style="margin-right: 5px;" href="/" role="button">Giriş Sayfasına Dön</a>
    </div>
</body>
</html>
